<header class="container">
    <div class="header-wrap">
        <div class="header-logo-wrap">
            <svg class="header-svg-logo" width="40" height="40">
                <use href="/images/main-icons.svg#icon-logo"></use>
            </svg>
            <a href="" class="header-logo">Travlog</a>
        </div>
        <ul class="header-list">
            <li class="header-item">Home</li>
            <li class="header-item">Discover</li>
            <li class="header-item">Special Deals</li>
            <li class="header-item">Contact</li>
        </ul>
        <div class="header-logo-btn">
            <button class="header-btn" name="Log In">Log In</button>
            <button class="header-btn sing-up" name="Sing Up">Sing Up</button>
        </div>
    </div>
</header>